@namespace CEC.Weather.Components
@using CEC.Blazor.SPA.Components.Forms
@using CEC.Blazor.SPA.Components.UIControls
@using CEC.Weather.Data

@inherits RecordFormBase<DbWeatherStation, WeatherForecastDbContext>

<UICard>

    <Header>
        @this.PageTitle
    </Header>

    <Body>

        <UIErrorHandler IsError="this.IsError" IsLoading="this.Loading" ErrorMessage="@this.RecordErrorMessage">

            <UIContainer>

                <UIFormRow>

                    <UILabelColumn Columns="2">
                        ID
                    </UILabelColumn>

                    <UIColumn Columns="2">
                        <InputReadOnlyText Value="@this.Service.Record.ID.ToString()"></InputReadOnlyText>
                    </UIColumn>

                    <UILabelColumn Columns="2">
                        Name
                    </UILabelColumn>

                    <UIColumn Columns="6">
                        <InputReadOnlyText Value="@this.Service.Record.Name"></InputReadOnlyText>
                    </UIColumn>

                </UIFormRow>

                <UIFormRow>

                    <UILabelColumn Columns="2">
                        Latitude/Longitude
                    </UILabelColumn>

                    <UIColumn Columns="2">
                        <InputReadOnlyText Value="@this.Service.Record.LatLong"></InputReadOnlyText>
                    </UIColumn>

                    <UILabelColumn Columns="2">
                        Elevation (m)
                    </UILabelColumn>

                    <UIColumn Columns="2">
                        <InputReadOnlyText Value="@this.Service.Record.Elevation.ToString()"></InputReadOnlyText>
                    </UIColumn>

                    <UIColumn Columns="2">
                    </UIColumn>

                </UIFormRow>

            </UIContainer>

        </UIErrorHandler>

        <UIContainer>

            <UIRow>
                <UIColumn Columns="6">

                </UIColumn>

                <UIButtonColumn Columns="6">

                    <UIButton Display="true" class="btn-nav" ClickEvent="(e => this.Exit())">
                        Exit
                    </UIButton>

                </UIButtonColumn>

            </UIRow>

        </UIContainer>

    </Body>

</UICard>
