@namespace CEC.Weather.Components
@inherits EditRecordFormBase<DbWeatherStation, WeatherForecastDbContext>

<UICard IsCollapsible="false">
    <Header>
        @this.PageTitle
    </Header>

    <Body>
        <ModalEditForm EditContext="this.EditContext" IsError="this.IsError" IsLoaded="this.IsLoaded">

            <ErrorContent>
                <UIContainer>
                    <UIRow>
                        <UIColumn>
                            @this.RecordErrorMessage
                        </UIColumn>
                    </UIRow>
                </UIContainer>
            </ErrorContent>

            <LoadingContent>
                <UILoading />
            </LoadingContent>

            <EditorContent>

                <UIContainer>

                    <UIFormRow>

                        <UILabelColumn Columns="4">
                            Record ID:
                        </UILabelColumn>

                        <UIColumn Columns="2">
                            <InputReadOnlyText Value="@this.EditorContext.WeatherStationID.ToString()"></InputReadOnlyText>
                        </UIColumn>

                    </UIFormRow>

                    <UIFormRow>

                        <UILabelColumn Columns="4">
                            Name:
                        </UILabelColumn>

                        <UIColumn Columns="4">
                            <InputText class="form-control" @bind-Value="this.EditorContext.WeatherStationName"></InputText>
                        </UIColumn>

                        <UIColumn Columns="4">
                            <ValidationMessage For=@(() => this.EditorContext.WeatherStationName) />
                        </UIColumn>

                    </UIFormRow>

                    <UIFormRow>

                        <UILabelColumn Columns="4">
                            Latitude
                        </UILabelColumn>

                        <UIColumn Columns="2">
                            <InputNumber class="form-control" @bind-Value="this.EditorContext.WeatherStationLatitude"></InputNumber>
                        </UIColumn>

                        <UIColumn Columns="6">
                            <ValidationMessage For=@(() => this.EditorContext.WeatherStationLatitude) />
                        </UIColumn>

                    </UIFormRow>

                    <UIFormRow>

                        <UILabelColumn Columns="4">
                            Longitude
                        </UILabelColumn>

                        <UIColumn Columns="2">
                            <InputNumber class="form-control" @bind-Value="this.EditorContext.WeatherStationLongitude"></InputNumber>
                        </UIColumn>

                        <UIColumn Columns="6">
                            <ValidationMessage For=@(() => this.EditorContext.WeatherStationLongitude) />
                        </UIColumn>

                    </UIFormRow>

                    <UIFormRow>

                        <UILabelColumn Columns="4">
                            Elevation
                        </UILabelColumn>

                        <UIColumn Columns="2">
                            <InputNumber class="form-control" @bind-Value="this.EditorContext.WeatherStationElevation"></InputNumber>
                        </UIColumn>

                        <UIColumn Columns="6">
                            <ValidationMessage For=@(() => this.EditorContext.WeatherStationElevation) />
                        </UIColumn>

                    </UIFormRow>

                </UIContainer>

            </EditorContent>

            <ButtonContent>

                <UIContainer>

                    <UIRow>

                        <UIColumn Columns="7">
                            <UIAlert Alert="this.AlertMessage" class="alert-sm"></UIAlert>
                        </UIColumn>
                        <UIButtonColumn Columns="5">

                            <UIButton Disabled="!this.DisplaySave" ClickEvent="this.SaveAndExit" class="btn-save">@this.SaveButtonText &amp; Exit</UIButton>

                            <UIButton Disabled="!this.DisplaySave" ClickEvent="this.Save" class="btn-save">@this.SaveButtonText</UIButton>

                            <UIButton Display="this.DisplayCheckExit" ClickEvent="this.ConfirmExit" class="btn-danger-exit">Exit Without Saving</UIButton>

                            <UIButton Display="this.DisplayExit" ClickEvent="this.TryExit" class="btn-nav">Exit</UIButton>

                        </UIButtonColumn>

                    </UIRow>

                </UIContainer>

            </ButtonContent>

        </ModalEditForm>

    </Body>

</UICard>
