@namespace CEC.Weather.Components
@using CEC.Blazor.SPA.Components.Forms
@using CEC.Blazor.SPA.Components.UIControls
@using CEC.Weather.Data
@using CEC.Blazor.Extensions

@inherits RecordFormBase<DbWeatherForecast, WeatherForecastDbContext>

<UICard>

    <Header>
        @this.PageTitle
    </Header>

    <Body>

        <UIErrorHandler IsError="this.IsError" IsLoading="this.Loading" ErrorMessage="@this.RecordErrorMessage">

            <UIContainer>

                <UIFormRow>

                    <UILabelColumn Columns="2">
                        Date
                    </UILabelColumn>

                    <UIColumn Columns="2">
                        <InputReadOnlyText Value="@this.Service.Record.Date.AsShortDate()"></InputReadOnlyText>
                    </UIColumn>

                    <UILabelColumn Columns="2">
                        ID
                    </UILabelColumn>

                    <UIColumn Columns="2">
                        <InputReadOnlyText Value="@this.Service.Record.ID.ToString()"></InputReadOnlyText>
                    </UIColumn>

                    <UILabelColumn Columns="2">
                        Frost
                    </UILabelColumn>

                    <UIColumn Columns="2">
                        <InputReadOnlyText Value="@this.Service.Record.Frost.AsYesNo()"></InputReadOnlyText>
                    </UIColumn>

                </UIFormRow>

                <UIFormRow>

                    <UILabelColumn Columns="2">
                        Temperature &deg;C
                    </UILabelColumn>

                    <UIColumn Columns="2">
                        <InputReadOnlyText Value="@this.Service.Record.TemperatureC.ToString()"></InputReadOnlyText>
                    </UIColumn>

                    <UIColumn Columns="2">
                    </UIColumn>

                    <UILabelColumn Columns="2">
                        Temperature &deg;F
                    </UILabelColumn>

                    <UIColumn Columns="2">
                        <InputReadOnlyText Value="@this.Service.Record.TemperatureF.ToString()"></InputReadOnlyText>
                    </UIColumn>

                    <UIColumn Columns="2">
                    </UIColumn>

                </UIFormRow>

                <UIFormRow>

                    <UILabelColumn Columns="2">
                        Summary
                    </UILabelColumn>

                    <UIColumn Columns="2">
                        <InputReadOnlyText Value="@this.Service.Record.Summary.ToString()"></InputReadOnlyText>
                    </UIColumn>

                    <UIColumn Columns="2">
                    </UIColumn>

                    <UILabelColumn Columns="2">
                        Outlook
                    </UILabelColumn>

                    <UIColumn Columns="2">
                        <InputReadOnlyText Value="@this.Service.Record.Outlook.ToString()"></InputReadOnlyText>
                    </UIColumn>

                    <UIColumn Columns="2">
                    </UIColumn>

                </UIFormRow>

                <UIFormRow>

                    <UILabelColumn Columns="2">
                        Description
                    </UILabelColumn>

                    <UIColumn Columns="10">
                        <InputReadOnlyText Value="@this.Service.Record.Description"></InputReadOnlyText>
                    </UIColumn>

                </UIFormRow>

                <UIFormRow>

                    <UILabelColumn Columns="2">
                        Detail
                    </UILabelColumn>

                    <UIColumn Columns="10">
                        <InputReadOnlyText Value="@this.Service.Record.Detail"></InputReadOnlyText>
                    </UIColumn>

                </UIFormRow>

            </UIContainer>

        </UIErrorHandler>

        <UIContainer>

            <UIRow>
                <UIColumn Columns="6">

                </UIColumn>

                <UIButtonColumn Columns="6">

                    <UIButton Show="true" ColourCode="Bootstrap.ColourCode.nav" ClickEvent="(e => this.Exit())">
                        Exit
                    </UIButton>

                </UIButtonColumn>

            </UIRow>

        </UIContainer>

    </Body>

</UICard>
