@namespace CEC.Weather.Components

@using CEC.Blazor.SPA.Components.Forms
@using CEC.Blazor.SPA.Components.UIControls
@using CEC.Weather.Data
@using CEC.FormControls.Components.FormControls
@using Microsoft.AspNetCore.Components.Forms


@inherits EditRecordFormBase<DbWeatherReport, WeatherForecastDbContext>

<UICard IsCollapsible="false">
    <Header>
        @this.PageTitle
    </Header>

    <Body>
        <ModalEditForm EditContext="this.EditContext" IsError="this.IsError" IsLoaded="this.IsLoaded">

            <ErrorContent>
                <UIContainer>
                    <UIRow>
                        <UIColumn>
                            @this.RecordErrorMessage
                        </UIColumn>
                    </UIRow>
                </UIContainer>
            </ErrorContent>

            <LoadingContent>
                <UILoading />
            </LoadingContent>

            <EditorContent>

                <UIContainer>

                    <CascadingValue Value="EditContext">


                        <UIFormRow>

                            <UILabelColumn Columns="4">
                                Record ID:
                            </UILabelColumn>

                            <UIColumn Columns="4">
                                <InputReadOnlyText Value="@this.EditorContext.WeatherReportID.ToString()"></InputReadOnlyText>
                            </UIColumn>

                        </UIFormRow>

                        <UIFormRow>

                            <UILabelColumn Columns="4">
                                Station:
                            </UILabelColumn>

                            <UIColumn Columns="4">
                                <InputControlSelect OptionList="this.StationLookupList" @bind-Value="this.EditorContext.WeatherStationID"></InputControlSelect>
                            </UIColumn>

                        </UIFormRow>

                        <UIFormRow>

                            <UILabelColumn Columns="4">
                                Record Date:
                            </UILabelColumn>

                            <UIColumn Columns="4">
                                <InputDate class="form-control" @bind-Value="this.EditorContext.WeatherReportDate"></InputDate>
                            </UIColumn>

                        </UIFormRow>

                        <UIFormRow>

                            <UILabelColumn Columns="4">
                                Max Temperature &deg; C:
                            </UILabelColumn>

                            <UIColumn Columns="2">
                                <InputNumber class="form-control" @bind-Value="this.EditorContext.WeatherReportTempMax"></InputNumber>
                            </UIColumn>

                            <UIColumn Columns="6">
                                <ValidationMessage For=@(() => this.EditorContext.WeatherReportTempMax) />
                            </UIColumn>

                        </UIFormRow>

                        <UIFormRow>

                            <UILabelColumn Columns="4">
                                Min Temperature &deg; C:
                            </UILabelColumn>

                            <UIColumn Columns="2">
                                <InputNumber class="form-control" @bind-Value="this.EditorContext.WeatherReportTempMin"></InputNumber>
                            </UIColumn>

                            <UIColumn Columns="6">
                                <ValidationMessage For=@(() => this.EditorContext.WeatherReportTempMin) />
                            </UIColumn>

                        </UIFormRow>

                        <UIFormRow>

                            <UILabelColumn Columns="4">
                                Frost Days
                            </UILabelColumn>

                            <UIColumn Columns="2">
                                <InputNumber class="form-control" @bind-Value="this.EditorContext.WeatherReportFrostDays"></InputNumber>
                            </UIColumn>

                            <UIColumn Columns="6">
                                <ValidationMessage For=@(() => this.EditorContext.WeatherReportFrostDays) />
                            </UIColumn>

                        </UIFormRow>

                        <UIFormRow>

                            <UILabelColumn Columns="4">
                                Rainfall (mm)
                            </UILabelColumn>

                            <UIColumn Columns="2">
                                <InputNumber class="form-control" @bind-Value="this.EditorContext.WeatherReportRainfall"></InputNumber>
                            </UIColumn>

                            <UIColumn Columns="6">
                                <ValidationMessage For=@(() => this.EditorContext.WeatherReportRainfall) />
                            </UIColumn>

                        </UIFormRow>

                        <UIFormRow>

                            <UILabelColumn Columns="4">
                                Sunshine (Hours)
                            </UILabelColumn>

                            <UIColumn Columns="2">
                                <InputNumber class="form-control" @bind-Value="this.EditorContext.WeatherReportSunHours"></InputNumber>
                            </UIColumn>

                            <UIColumn Columns="6">
                                <ValidationMessage For=@(() => this.EditorContext.WeatherReportSunHours) />
                            </UIColumn>

                        </UIFormRow>

                    </CascadingValue>

                </UIContainer>

            </EditorContent>

            <ButtonContent>

                <UIContainer>

                    <UIRow>

                        <UIColumn Columns="7">
                            <UIAlert Alert="this.AlertMessage" SizeCode="Bootstrap.SizeCode.sm"></UIAlert>
                        </UIColumn>
                        <UIButtonColumn Columns="5">

                            <UIButton Disabled="!this.DisplaySave" ClickEvent="this.SaveAndExit" ColourCode="Bootstrap.ColourCode.save">@this.SaveButtonText &amp; Exit</UIButton>

                            <UIButton Disabled="!this.DisplaySave" ClickEvent="this.Save" ColourCode="Bootstrap.ColourCode.save">@this.SaveButtonText</UIButton>

                            <UIButton Show="this.DisplayCheckExit" ClickEvent="this.ConfirmExit" ColourCode="Bootstrap.ColourCode.danger_exit">Exit Without Saving</UIButton>

                            <UIButton Show="this.DisplayExit" ClickEvent="this.TryExit" ColourCode="Bootstrap.ColourCode.nav">Exit</UIButton>

                        </UIButtonColumn>

                    </UIRow>

                </UIContainer>

            </ButtonContent>

        </ModalEditForm>

    </Body>

</UICard>
